<h1>Credit card</h1>

<p *ngIf="!accountTransactions"><em>Loading...</em></p>

<table class='table' *ngIf="accountTransactions">
  <thead>
    <tr>
      <th>Debit Account</th>
      <th>Credit Account</th>
      <th>At</th>
      <th>Amount ($)</th>
      <th>Balance ($)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let accountTransaction of accountTransactions">
      <td>{{ accountTransaction.debitAccountName }}</td>
      <td>{{ accountTransaction.creditAccountName }}</td>
      <td>{{ accountTransaction.at | date : 'short' }}</td>
      <td>{{ accountTransaction.amount | number : '1.2-2' }}</td>
      <td>{{ accountTransaction.balance | number : '1.2-2' }}</td>
    </tr>
  </tbody>
</table>
